@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .max-container {
    @apply max-w-[76rem] w-[85%] mx-auto;
  }

  .default-button {
    @apply bg-default-100 font-bold py-2 px-4 w-fit rounded-xl shadow-md transition-transform active:translate-y-px;
  }

  .game-buttons {
    @apply h-6 w-6 top-4 active:translate-y-[1px] absolute;
  }

  .square {
    @apply flex !translate-y-0 flex-col bg-yellow-800 text-orange-50 items-center justify-between p-3 gap-2 h-[84px];
  }

  .square-title {
    @apply font-medium;
  }

  .square-point {
    @apply text-3xl;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;

  &:not(:disabled):not(.no-animation):active {
    transform: translateY(1px);
  }

  &:disabled {
    filter: grayscale(0.5);
    cursor: not-allowed;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(113, 63, 18);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(66, 32, 6);
}
